In [2]:
from faker import Faker
import pandas as pd

f = Faker()

In [3]:

data = {
    "firstname" : [],
    "lastname" : [],
    "ssn" : []
}
for i in range(5):
    data["firstname"].append(f.unique.first_name())
    data["lastname"].append(f.unique.last_name())
    data["ssn"].append(f.unique.ssn())

df = pd.DataFrame.from_dict(data)
df

  firstname lastname          ssn
0    Amanda    Roman  432-40-5437
1    Joshua    Doyle  800-38-4771
2    Robert  Beasley  118-19-8149
3    Connie  Ramirez  636-87-0482
4     Aaron   Hoover  393-27-3805

In [4]:
df.to_csv("csv_data1.csv", index=False)

In [ ]:
df.to_json("json_data1.json",orient='records', lines=True)