In [2]:
from faker import Faker
import json
import pandas as pd

f = Faker()

In [3]:

data = {
    "firstname" : [],
    "lastname" : [],
    "address":[]
}
for i in range(5):
    data["firstname"].append(f.unique.first_name())
    data["lastname"].append(f.unique.last_name())
    data["address"].append(
        {
            "state":f.unique.state(),
            "city":f.unique.city(),
            "zipcode":f.unique.zipcode()
        }
    )

df = pd.DataFrame.from_dict(data)
df

     firstname  lastname                                            address
0         Lisa  Schwartz  {'state': 'Idaho', 'city': 'Michellemouth', 'z...
1      Timothy   Johnson  {'state': 'Maine', 'city': 'Michaelfort', 'zip...
2     Jermaine   Sanchez  {'state': 'Kentucky', 'city': 'Taylorchester',...
3  Christopher    Steele  {'state': 'Georgia', 'city': 'West Hannahmouth...
4       Nicole    Rivera  {'state': 'Washington', 'city': 'North Breanna...

In [4]:
df.to_json("json_data2.json",orient='records', lines=True)

In [5]:
df.to_csv("csv_data2.csv",index=False)