In [2]:
from faker import Faker
import pandas as pd

f = Faker()

In [3]:
f.unique.first_name()

'Gloria'

In [4]:
f.unique.last_name()

'Walker'

In [5]:
f.unique.ssn()

'032-48-4554'

In [6]:
f.address()

'6942 Hart Canyon Suite 169\nNew Marissamouth, KY 17902'

In [7]:
f.email()

'deannarose@example.net'

In [8]:
f.country()

'Uzbekistan'

In [9]:
print(f.latitude())
print(f.longitude())

51.190909
-69.521950

In [10]:
from datetime import datetime
print(f.date())
print(f.date_time())
print(f.date_between_dates(date_start=datetime(2015,1,1), date_end=datetime(2019,12,31)).year)
print(f.date_between_dates(date_start=datetime(2015,1,1), date_end=datetime(2019,12,31)).month)
print(f.date_between_dates(date_start=datetime(2015,1,1), date_end=datetime(2019,12,31)).day)

1992-08-26
1971-06-27 21:13:41
2019
10
17

In [11]:
f.profile()

{'job': 'Medical illustrator',
 'company': 'Austin and Sons',
 'ssn': '027-72-1246',
 'residence': '7778 Collins Mews\nNew Laura, OR 75412',
 'current_location': (Decimal('-43.358530'), Decimal('145.810622')),
 'blood_group': 'O-',
 'website': ['https://johnson.com/',
  'http://www.pearson-page.org/',
  'http://www.rogers-ramsey.org/',
  'http://webster.com/'],
 'username': 'susan25',
 'name': 'Stephanie Bowen',
 'sex': 'F',
 'address': '30622 Robert Village\nDixonfort, KS 62396',
 'mail': 'suzanne24@gmail.com',
 'birthdate': datetime.date(1973, 9, 24)}

In [23]:

data = {
    "firstname" : [],
    "lastname" : [],
    "ssn" : [],
    "date":[]
}
for i in range(5):
    data["firstname"].append(f.unique.first_name())
    data["lastname"].append(f.unique.last_name())
    data["ssn"].append(f.unique.ssn())
    data["date"].append(f.date())

df_simple = pd.DataFrame.from_dict(data)
df_simple

  firstname lastname          ssn        date
0  Jonathan  Vasquez  577-55-6633  1983-11-21
1      Lynn  Johnson  168-33-3620  1987-06-05
2      Mary    Lyons  658-52-1235  1976-07-23
3     Linda   Miller  826-81-7987  2007-07-07
4     Blake    Brown  359-22-9999  2008-12-29

In [24]:
df_simple.to_csv("csv_data_simple.csv", index=False)
df_simple.to_json("json_data_simple.json",orient='records', lines=True)

In [28]:
data = {
    "firstname" : [],
    "lastname" : [],
    "ssn" : [],
    "date":[],
    "profile":[]
}
for i in range(5):
    data["firstname"].append(f.unique.first_name())
    data["lastname"].append(f.unique.last_name())
    data["ssn"].append(f.unique.ssn())
    data["date"].append(f.date())
    data["profile"].append(f.profile())

df_complex = pd.DataFrame.from_dict(data)
df_complex

,firstname,lastname,ssn,date,profile
0,Krista,Salazar,146-49-2929,1973-01-14,"{'job': 'Acupuncturist', 'company': 'Estrada-H..."
1,Michele,Weber,784-27-3604,2014-06-19,"{'job': 'Legal secretary', 'company': 'Scott a..."
2,Sandra,Lane,564-77-8887,2017-08-14,"{'job': 'Psychologist, occupational', 'company..."
3,Carolyn,Diaz,197-74-7741,2011-11-14,"{'job': 'Ranger/warden', 'company': 'Graham, T..."
4,Erik,Reese,437-45-3219,1984-03-28,"{'job': 'Designer, textile', 'company': 'Garci..."

In [26]:
df_complex.to_csv("csv_data_complex.csv", index=False)
df_complex.to_json("json_data_complex.json",orient='records', lines=True)